.d-flex {
    display: flex;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.d-flex-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-end-content {
    display: flex;
    justify-content: end;
    align-items: center;
}

.coin-row {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}

.coin-row {
    > div:not(:first-child) {
        justify-content: end;
    }
}

.coin-row.coin-list {
    > div:nth-of-type(2) {
        justify-content: start !important;
    }
}

.coin-row > div {
    display: flex !important;
    flex: 1 !important;
}

.gap-1 {
    row-gap: 0.25rem;
    column-gap: 0.25rem;
}

.gap-2 {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.gap-4 {
    row-gap: 1rem;
    column-gap: 1rem;
}

.gap-6 {
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}

.content-container {
    background-color: rgb(13, 20, 33);
    color: white;
    font-family: Arial, sans-serif;
}

.content-container > div {
    flex-grow: 1;
}

.down {
    color: red;
}

.up {
    color: green;
}

.coins.coins-content-head {
    > div:not(:first-child) {
        justify-content: end;
    }
}

.coin-icon-conteiner,
.coin-name-conteiner {
    min-width: 15rem;
}

.coin-icon {
    display: flex;
    align-items: center;
}

.coin-icon > img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.25rem;
}

.thumbnail {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.25rem;
}

.rank {
    max-width: 2rem;
}

.divider {
    background-color: rgb(50, 53, 70);
    height: 1px;
    margin: 0.075rem;
}

.coins-select {
    background-color: rgb(13, 20, 33);
    border: 2px solid rgb(50, 53, 70);
    color: white;
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
}

.coins-input {
    background-color: rgb(13, 20, 33);
    border: 2px solid rgb(50, 53, 70);
    color: white;
    border-radius: 0.75rem;
    padding: 0.5rem;
    width: 100%;

    &:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: 0 0 0 0.25rem rgb(33, 45, 94);
        border-color: rgb(56, 97, 251);
    }
}

.coins-calendar {
    border: 0;
    padding: 1rem;
    background-color: rgb(50, 53, 70);
    border-radius: 0.75rem;
    color: white;
    width: 100%;
    border: 2px solid rgb(50, 53, 70);

    &:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: 0 0 0 0.25rem rgb(33, 45, 94);
        border-color: rgb(56, 97, 251);
    }
}

.total-spent {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0.5rem;
    background-color: rgb(50, 53, 70);
    border-radius: 0.75rem;

    > * {
        padding: 0.25rem 0.5rem;
    }
}

.notes {
    border: 0;
    padding: 0.5rem;
    background-color: rgb(50, 53, 70);
    border-radius: 0.75rem;
    width: 100%;
    color: white;
    border: 2px solid rgb(50, 53, 70);

    &:focus {
        outline: 0;
        outline-offset: 0;
        box-shadow: 0 0 0 0.25rem rgb(33, 45, 94);
        border-color: rgb(56, 97, 251);
    }
}

.primary-button {
    background-color: rgb(56, 97, 251);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 4rem;
    border: 0;
    border-radius: 0.75rem;
}

.d-flex-between-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondary-text-color {
    color: rgb(161, 167, 173);
}

/* TODO delete bootstrap and create separate components */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & > main {
        flex-grow: 1;
    }
}

.container {
    max-width: 1300px;
    margin: auto;
    width: 100%;
}

.container--content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container--sm {
    max-width: 420px !important;
}

table {
    width: 100%;
    /* text-align: right; */
}

form > h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

td,
th {
    padding: 0.5rem 0.5rem;
    text-align: end;
}

/* Utils */
.mb-4 {
    margin-bottom: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-2 {
    margin-right: 0.5rem;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

/* TODO grid */
.row {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.col-6 {
    width: 50%;
}

.col-8 {
    width: 66.66%;
}

.col-4 {
    width: 33.33%;
}
