.form-group__select {
    color: rgb(13, 1, 51);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    background-color: #fff;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
}

.form-group__select:focus,
.form-group__select:hover {
    outline: none;
    border: 1px solid rgb(0, 233, 249);
}

.form-group + .form-group {
    margin-top: 1rem;
}
