.card-custom {
    background: rgb(12, 0, 50);
    box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px;
    border-radius: 1rem;
    width: 100%;
    padding: 24px;
}
