.header {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(50, 53, 70);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.header__actions a + a {
    margin-left: 0.5rem;
}
